@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&family=Ubuntu:wght@400;500;700&display=swap');

:root{
  --montserrat: 'Montserrat', sans-serif;
  --ubuntu: 'Ubuntu', sans-serif;
}

* {
  box-sizing: border-box;
}
header,
section {
  overflow-x: hidden;
  font-family: var(--montserrat);
}
h1,h2,h3,h4,h5,h6{
  font-family: var(--ubuntu);
}

header {
  background: linear-gradient(rgba(3, 1, 10, 0.5), rgba(3, 1, 10, 0.5)),
    url("../images/home-banner.jpg");
  background-position: center;
  background-size: cover;
  background-attachment: scroll;
}
.page-header{
  background: linear-gradient(rgba(3, 1, 10, 0.5), rgba(3, 1, 10, 0.5)),
    url("../images/home-banner.jpg");
  background-position: bottom;
  background-size: cover;
  background-attachment: scroll;
}
h2 {
  font-size: 2.5rem;
}
p {
  font-size: 1rem;
}

/* NAVBAR */
.container-fluid {
  transition: 0.6s;
  z-index: 10;
}
.navbar {
  width: 90%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 1em 0;
}
.navbar-toggler-icon {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='30' height='30' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%28255, 255, 255, 0.5%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}
.nav-item:last-child{
  padding-right: 0 !important;
}
.nav-item {
  text-transform: uppercase;
  padding: 0 2.5vmin !important;
  transition: 0.6s;
}
.nav-link {
  font-size: 1rem;
  color: #fff;
}
.active {
  color: #63bb30;
}
.nav-link:hover {
  color: #63bb30;
}
.navbar-brand {
  font-size: 1.5rem;
  color: #63bb30;
  text-transform: uppercase;
  transition: 0.6s;
}
.navbar-brand:hover {
  color: #63bb30;
}
.container-fluid.sticky {
  position: fixed;
  top: 0;
  background: #272727;
}

/* BANNER */
.banner {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 90vh;
}
.page-banner{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40vh;
}
.col-lg-12,
.col-lg-7 {
  padding: 0.8em;
  color: #fff;
}

.row .col-lg-12 .first-text {
  font-size: 3rem;
  font-weight: 500;
  color: #f2b946;
}
.row .col-lg-12 .second-text {
  font-size: 3rem;
  font-weight: 650;
}

/* BUTTONS */
.buttons {
  display: flex;
  justify-content: center;
  width: 40%;
  margin: auto;
}
.buttons button {
  border-radius: 1px;
  transition: 0.5s;
  margin: 0.2em;
  padding: 0.5em;
  flex: 1;
}
.buttons .btn a {
  color: #fff;
  text-decoration: none;
  font-size: 0.8rem;
}
.buttons .btn-donate {
  background-color: #63bb30;
  border: 3px solid #63bb30;
}
.buttons .btn-cause {
  background-color: #fcb82f;
  border: 3px solid #fcb82f;
}
.buttons .btn:hover {
  background-color: rgba(255, 255, 255, 0);
}
.buttons .btn-donate:hover a {
  color: #63bb30;
}
.buttons .btn-cause:hover a {
  color: #fcb82f;
}

/* SECTION-1 */
.section-1 {
  width: 90%;
  max-width: 1200px;
  margin: 10em auto;
}
.section-1 .heading {
  margin: 5em 0;
}
.section-1 .cause {
  background: #f9fafc;
  transition: all 0.3s;
  padding: 3em;
  margin: 1em 0;
}
.section-1 .cause:hover {
  box-shadow: 0px 10px 10px 0px rgba(0, 0, 0, 0.1);
}
.section-1 .cause img {
  padding: 2.5em;
}

/* SECTION-2 */
.section-2 {
  padding-bottom: 15em;
}
.about-page-section-2 {
  padding: 15em 0;
}
.section-2 .col-lg-12:last-child {
  position: relative;
}
.section-2 .panel-about {
  background: #fff;
  position: absolute;
  top: 4em;
  left: -3.5em;
  padding: 7em 4em;
  box-shadow: 0px 5px 40px rgba(153, 153, 153, 0.2);
}
.section-2 .panel-about h2 {
  font-weight: 700;
  padding-bottom: 1em;
}
.section-2 .btn-learn {
  border-radius: 1px;
  transition: 0.5s;
  margin: 1em 0;
  padding: 0.5em;
  width: 40%;
}
.section-2 .btn-learn a {
  color: #fff;
  font-size: 0.9rem;
  text-decoration: none;
}
.section-2 .btn-learn {
  background-color: #63bb30;
  border: 2px solid #63bb30;
}
.section-2 .btn-learn:hover {
  background-color: rgba(255, 255, 255, 0);
}
.section-2 .btn-learn:hover a {
  color: #63bb30;
}

/* SECTION-3 */
.section-3 {
  margin-bottom: 8em;
}
.section-3 .card {
  height: 50vh;
  border: none;
  margin: 3em 0;
}
.section-3 .card .btn {
  border-radius: 1px;
  transition: 0.5s;
  margin: 1em 1.5em;
  padding: 0.5em;
  width: 50%;
  background-color: #63bb30;
  color: #fff;
  font-size: 0.9rem;
  text-decoration: none;
}
.section-3 .card figure {
  height: 50%;
  overflow: hidden;
}
.section-3 .card img {
  transition: transform 0.5s ease;
}
.section-3 .card:hover {
  box-shadow: 0px 5px 40px rgba(153, 153, 153, 0.2);
}
.section-3 .card:hover .btn {
  background: #f2b946;
}
.section-3 .card:hover img {
  transform: scale(1.2);
}

/* SECTION-4 */
.section-4 {
  background-color: #f9fafc;
}
.section-4 .volunteer-1 {
  margin: 10em auto;
}
.section-4 .volunteer-1 .head-text {
  margin-bottom: 5em;
}
.section-4 .volunteer-1 .card {
  border: none;
  background-color: #f9fafc;
}
.section-4 .volunteer-1 .card .card-text {
  margin: 2em auto;
  font-size: 0.9rem;
}
.section-4 .volunteer-1 .card:hover .card-title {
  color: #63bb30;
}
.section-4 .volunteer-2 {
  overflow-x: hidden;
  background-color: #63bb30;
}
.section-4 .volunteer-2 .become-volunteer {
  padding: 8em 0;
  color: #fff;
}
.section-4 .volunteer-2 .become-volunteer h2 {
  margin: 0.5em;
  font-weight: 600;
}
.section-4 .volunteer-2 .become-volunteer p {
  margin: 2em auto;
  width: 95%;
  max-width: 700px;
}
.section-4 .volunteer-2 .become-volunteer .btn {
  transition: 0.5s;
  width: 15em;
  background-color: #fcb82f;
  border: 3px solid #fcb82f;
}
.section-4 .volunteer-2 .become-volunteer .btn:hover {
  background-color: rgba(255, 255, 255, 0);
}

/* CONTACT - PAGE */
.map{
  height:25em;
  width:95%;
  max-width:1200px;
  margin: 8em auto;
}
.contact{
  margin-bottom:5em;
}
.contact a{
  text-decoration:none;
  color:#63bb30;
}
.btn-send {
  border-radius: 1px;
  transition: 0.5s;
  margin: 1em 0;
  padding: 0.5em;
  width: 40%;
}
.btn-send a {
  color: #fff;
  font-size: 0.9rem;
  text-decoration: none;
}
.btn-send {
  background-color: #63bb30;
  border: 2px solid #63bb30;
}
.btn-send:hover {
  background-color: rgba(255, 255, 255, 0);
}
.btn-send:hover a {
  color: #63bb30;
}
#message{
  height:9em;
}
.info_item i{
  color:#63bb30;
}
.info_item h6{
  display:inline;
}

/* FOOTER */
footer {
  background-color: #091b27;
}
footer .container {
  width: 90%;
  max-width: 960px;
  padding: 8em 0;
}
footer h2,
footer h4 {
  color: #fff;
}
footer .mission{
  padding-right: 3em;
}
footer .quick-links{
  padding-left: 6em;
}
footer .links li {
  padding: 1.15em 0;
}
footer .links li a {
  text-decoration: none !important;
}
footer .contact-us{
  padding-left: 6em;
}
footer i{
  color:#63bb30;
  vertical-align: top;
}
footer .contact-info{
  color:#63bb30;
  display: inline-block;
}
footer .copyright {
  background-color: #061721;
  color: #fff;
}
footer .copyright p {
  width: 90%;
  margin: auto;
}
footer .copyright p span {
  color: #63bb30;
}